.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 579px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 278px;
  margin-top: 2px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-image-1 {
  height: 190px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 167px;
  height: 165px;
  margin: -77px auto 0 20px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -69px 106px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 266px;
  height: auto;
  width: 537px;
  margin: 32px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 11px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 579px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 523px;
  grid-gap: 17px 17px;
  width: 537px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 16px 16px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 30px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-27 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-28 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-29 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-30 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-31 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-32 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-33 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-34 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-35 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-36 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-37 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-38 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-39 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-40 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-41 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-42 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-43 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-44 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-45 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-46 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-47 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-48 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-49 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-50 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-51 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-52 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-53 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-54 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-55 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-56 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-57 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-58 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-59 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-60 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-61 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-62 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-63 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-64 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-65 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-66 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-67 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-68 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-69 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-70 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-71 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-72 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-73 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-74 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-75 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-76 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-77 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-78 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-79 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-80 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-81 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-82 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-83 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-84 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-85 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-86 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-87 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-88 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-89 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-90 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-91 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-92 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-93 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-94 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-95 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-96 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-97 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-98 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-99 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-100 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 11px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 9px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 11px;
  padding: 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 245px;
  }

  .u-section-1 .u-image-1 {
    height: 157px;
  }

  .u-section-1 .u-image-2 {
    width: 165px;
    margin-top: -44px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-1 .u-gallery-1 {
    width: 470px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(10, auto);
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-81 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-82 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-83 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-84 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-85 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-86 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-87 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-88 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-89 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-90 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-91 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-92 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-93 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-94 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-95 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-96 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-97 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-98 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-99 {
    width: 5px;
    height: 5px;
  }

  .u-section-1 .u-carousel-thumbnail-100 {
    width: 5px;
    height: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    height: 120px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -7px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-gallery-1 {
    width: 360px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-81 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-82 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-83 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-84 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-85 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-86 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-87 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-88 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-89 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-90 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-91 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-92 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-93 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-94 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-95 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-96 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-97 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-98 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-99 {
    width: 4px;
    height: 4px;
  }

  .u-section-1 .u-carousel-thumbnail-100 {
    width: 4px;
    height: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 268px;
  }

  .u-section-1 .u-image-1 {
    height: 180px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -67px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 201px;
  }

  .u-section-1 .u-image-1 {
    height: 113px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-18 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-19 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-20 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-21 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-22 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-23 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-24 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-25 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-26 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-27 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-28 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-29 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-30 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-31 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-32 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-33 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-34 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-35 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-36 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-37 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-38 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-39 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-40 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-41 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-42 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-43 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-44 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-45 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-46 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-47 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-48 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-49 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-50 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-51 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-52 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-53 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-54 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-55 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-56 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-57 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-58 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-59 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-60 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-61 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-62 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-63 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-64 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-65 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-66 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-67 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-68 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-69 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-70 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-71 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-72 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-73 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-74 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-75 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-76 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-77 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-78 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-79 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-80 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-81 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-82 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-83 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-84 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-85 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-86 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-87 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-88 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-89 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-90 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-91 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-92 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-93 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-94 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-95 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-96 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-97 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-98 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-99 {
    width: 3px;
    height: 3px;
  }

  .u-section-1 .u-carousel-thumbnail-100 {
    width: 3px;
    height: 3px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}