
.comment-box,
.post-comment .list{
    background: #f8f9fa;
    border-radius: 6px;
    box-shadow: 0 2px 2px #0002;
}
.comment-session{
    width: 100%;
    height: auto;
    margin-top:50px;
}
.post-comment .list{
    width: 100%;
    margin-bottom: 12px;
}
.post-comment .list .user{
    display: flex;
    padding: 8px;
    overflow: hidden;
}
.post-comment .list .user img{
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-session .name{
    font-weight: bold;
    width: 500px;
}
.post-comment .list .day{
    font-size: 10px;
    color: #636363;
}
.post-comment .comment-post{
    padding: 0 0 15px 58px;
    font-size: 13px;
}
.comment-box{
    padding: 10px;
    overflow: hidden;
}
.comment-box .user{
    display:flex ;
    width: min-content;
}
.comment-box .image img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-box textarea{
    background: #fff;
    width: -webkit-fill-available;
    height: 152px;
    margin: 10px 0;
    padding: 10px;
    resize: inherit;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #0003;
}
.comment-box textarea:focus-visible{
    box-shadow: inset 0 0 0 1px #009cff;
    outline: none;
}
.comment-box .comment-submit{
    float: right;
    padding: 6px 10px;
    border: none;
    background: #0d6efd;
    color: #eee;
    cursor: pointer;
    border-radius: 3px;
}
.comment-box .comment-submit:hover{
    background: #0076bf;

}
@media screen and(max-width:660px){
    .comment-session{width: 100%;}
}